.SignInAndSignUpPage {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  .SignInAndSignUpPage-nav {
    position: absolute;
    top: 30px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    & div {
      margin: 0px 5px;
    }
  }
}
